{{ define "crear"}}
{{ template "cabecera"}}

<div class="card">
    <div class="card-header">
        Agregar nuevo alumno
    </div>

    <div class="card-body">
        <form method="post" action="/insertar">
            <div class="form-group">
              <label for="">Nombre</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="Nombre" placeholder="Introduzca su nombre ...">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>

            <div class="form-group">
              <label for="">DNI</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="DNI" placeholder="Introduzca su DNI ...">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>

            <div class="form-group">
              <label for="">Direccion</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="Direccion" placeholder="Ingrese su direccion ...">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>

            <div class="form-group">
              <label for="">Fecha de nacimiento</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese su fecha de nacimiento ...">
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>

            <button type="submit" class="btn btn-primary">Agregar</button>
            
        </form>
    </div>

    <div class="card-footer text-muted">
        Footer
    </div>
</div>



{{ template "pie" }}
{{ end }}
