{{ define "inicio"}}
{{ template "cabecera"}}


<a name="" id="" class="btn btn-primary" href="#" role="button">Agregar alumno</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Direccion</th>
            <th>Fecha de nacimiento</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td >Jose</td>
            <td>71112671</td>
            <td>Av Cerros de camacho</td>
            <td>18/09/2001</td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>  
{{ template "pie"}}

{{ end }}
